body {
  background-color: #b58c6e;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  text-align: center;
}

.nav-container{
  top:0vh;
  position:fixed;
}

#title {
  margin-top: 25vh;
  font-size: 20em;
}

a:link{
  color:purple;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.homeButt {
  font-size: 5em;
}
